* { 
  font-family: "JetBrainsMono Nerd Font", sans-serif; 
  font-size: 13px; 
}

#waybar {
    border-radius: 5px;
    color: #333333;
    background-color: transparent;
}

.modules-left {
    padding: 0 10px;
    border-radius: 5px;
    background-color: #80EF80;
}

.modules-center {
    padding: 0 10px;
    border-radius: 5px;
    background-color: #B3EBF2;
}

.modules-right {
    padding: 0 10px;
    border-radius: 5px;
    background-color: #FFC067; 
}

/* #workspaces button {
    box-shadow: none;
	text-shadow: none;
    margin: 0px 5px;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #80FE80;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
	border-radius: 10px;
	color: black;
	background-color: blue;
 	padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.persistent {
	color: red;
	border-radius: 10px;
}

#workspaces button.active {
	color: white;
  	border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
} */