* { 
  font-family: "JetBrainsMono Nerd Font", sans-serif; 
  font-size: 13px; 
}

#waybar { 
    color: #333333;
    background-color: transparent;  
}

.modules-center {
    padding: 0 10px;
    border-radius: 5px;
    background-color: #B3EBF2;
}

.modules-right {
    padding: 0 10px;
    border-radius: 5px;
    background-color: #80FE80;    
}
